.header{
    height: 60px;
    background-color: #000d1f;
    width: 100%;
    color:#fff;
    border-bottom: 1px solid #f44336!important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header img{
    height: 50px;
}

.header span{
    width: 80%;
}

.profile{
    border-radius: 50%;
    height: 30px !important;
    vertical-align: middle;
    margin-left: 15px;
}