.list-container{
  width: 50vw;
  position: relative;
  margin: auto;
  padding: 20px;
}

.bookmarks {
  margin: auto;
  list-style-type: none;
  padding: 0;
}
.bookmarks li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em .3em;
  height: 2em;
  border-radius: 4px;
  display: table;
}

.bookmarks li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.bookmarks a {
  color: #000d1f;
  text-decoration: none;
  width: 50vw;
  display: table-cell;
  vertical-align: middle;
}

.bookmarks a:hover {
  color:#607D8B;
}

.bookmarks .badge {
  font-size: small;
}

button.delete {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
  display: table-cell;
  background-color: gray;
  color: white;
}

button.delete:hover {
  background-color:#000d1f;
}


.add-url-container{
  /* height: 20px; */
  /* border: 1px solid; */
  position: relative;
  /* display: inline; */
  margin-bottom: 3em;
}

.add-url-container input {
  background-color: white;
  color:black;
  width: 70%;
  height: 30px;
  margin-right: 20px;
  margin-left: .3em;
}
.add-url-container button {
  height: 30px;
  margin-right: 20px;
}

.button-icon{
  height: 20px;
}