<div class="list-container">
  <div class="add-url-container">
    <input #url class="uri-input" placeholder="Enter a url to add">
    <button (click)="add(url.value)">
      <!-- <img class="button-icon" src="assets/favicon.ico"> -->
      Add
    </button>
    <input #file id="fileBookmarkSelector" type="file" (change)="onFileChange(file)">
  </div>
  <ul class="bookmarks">
    <li *ngFor="let bm of model.bookmarks; let index=index">
      <a routerLink="/welcome" routerLinkActive="active">
        <span class="badge">{{index+1}}</span> {{bm}}
      </a>
      <button class="delete" title="delete bookmark"
        (click)="delete(bm)">x</button>
    </li>
  </ul>
</div>

