.header{
    height: 60px;
    background-color: #000d1f;
    display: table;
    width: 100%;
    color:#fff;
    vertical-align: middle;
    border-bottom: 1px solid #f44336!important;
}

.header img{
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}

.header span{
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}

.header div{
    display: inline;
    display: table-cell;
    vertical-align: middle;
}